{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="text-pageheader">
				<div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.0s">
					{{data.productName}}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</header>

<!-- CONTENT =============================-->
<section class="item content">
	<div class="container toparea">
		<div class="underlined-title">
			<div class="editContent">
				<h1 class="text-center latestitems">Awesome Product</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="productbox">
					<img src="{{data.img.url}}" alt="">
					<div class="clearfix">
					</div>
					<br />
					<div class="product-details text-left">
						<p>
							{{data.productDescription}}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="#" class="btn btn-buynow">{{data.productPrice}} - Purchase</a>

			</div>
		</div>
	</div>
</section>

<!-- CALL TO ACTION =============================-->


{% endblock %}