{% extends "base.html" %}
{% load static %}


<!-- HEADER =============================-->

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="text-pageheader">
				<div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
					Shop
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</header>

<!-- CONTENT =============================-->
<section class="item content">
	<div class="container toparea">
		<div class="underlined-title">
			<div class="editContent">
				<h1 class="text-center latestitems">OUR PRODUCTS</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
		{% for data in datas%}
		<div class="row">
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>{{data.productName}}</h3>
							<p>
								{{data.productDescription}}
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i>
									Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="{{data.img.url}}" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
							<h1>{{data.productName}}</h1>
						</a>
						<span class="price">
							<span class="edd_price">{{data.productPrice}}</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<!-- /.productbox -->
			{% endfor %}
			<!-- /.productbox -->
		</div>


	</div>
	</div>
</section>

<!-- CALL TO ACTION =============================-->


{% endblock %}